/* -------------------------
共通部分
------------------------- */
@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo",Arial, Helvetica, sans-serif;
  color: #333;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

section:nth-child(even) {
  background-color: #ededed;
}

header p, header li, #top h1, #top p {
  font-family: 'Open Sans Condensed', sans-serif;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
img {
  max-width: 100%;
}

.section-title {
  font-size: 4rem;
  font-weight: bolder;
  padding: 5rem 0 ;
  text-align: center;
}





/* -------------------------
ヘッダー
------------------------- */
header {
  background-color: #fff;
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid #ccc;
  box-shadow:0 0 5px #ccc;
  position: fixed;
  top: 0;
  z-index: 2;
}
header div {
  display: flex;
  justify-content: space-between;
}
.nav-bar {
  display: flex;
}
.nav-bar li {
  font-size: 2rem;
  line-height: 6rem;
  letter-spacing: 1px;
  margin: 0 1rem;
}
.header-logo {
  font-size: 3rem;
  line-height: 6rem;
  font-weight: bold;
  padding-left: 1rem;
}
.nav-bar li a {
  display: inline-block;
}

.nav-bar li a:hover{
  animation: zoom .5s;
}
@keyframes zoom {
	50% {
		transform: scale(1.05);
	}
}

/* ハンバーガーボタン */
.burger-btn{
  display: none;      
  width: 6rem;      
  height: 6rem;      
  position: relative;      
  z-index: 3;
  border:none;
}    
.bar{      
  width: 20px;      
  height: 1px;        
  display: block;      
  position: absolute;      
  left: 50%;      
  transform: translateX(-50%);      
  background-color: #000;    
}    
.bar_top{   
  top: 2rem;
}
.bar_mid{    
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 2rem;
}
/* ハンバーガーボタン押されたとき */

.burger-btn.active .bar_top{      
  transform: translate(-50%,10px) rotate(45deg);      
  transition: all .3s;    
}    
.burger-btn.active .bar_mid{      
  opacity: 0;       
  transition: opacity .3s;    
}    
.burger-btn.active .bar_bottom{      
transform: translate(-50%,-8px) rotate(-45deg);      
transition: all .3s;    
}
.hamburger-menu.active {
  position: fixed;
  top: 6rem;
  right: 0;
  z-index: 2;
  transition: all .3s ease-in;
}

/* ハンバーガーメニュー */
.hamburger-menu {
  width: 100vw;
  background:#eee;
  opacity: 0.9;
  position: absolute;
  right: 100vw;
}
.hamburger-menu ul li {
  text-align: center;
  height: 7rem;
  line-height: 7rem;
  border-bottom: #333 1px solid;
}
.hamburger-menu ul li a {
  padding-left: 2rem;
}

/* -------------------------
TOP
------------------------- */

#top {
  height: 70vh;
  position: relative;
}
#top h1 {
  font-size: 10rem;
  letter-spacing: 5px;
  padding-left: 1rem;
}

#top p {
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding-left: 1rem;
}
.top-contents {
  position: absolute;
  top: 40%;
  
}

/* -------------------------
WORKS
------------------------- */
#works {
  background-color: rgb(236, 239, 250);
  padding-bottom: 5rem;
}
.works-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.works-items div {
  width: 30%;
  margin: 2rem 0;
}

.works-items img:hover {
  
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
  
}
.works-items img {
  width: 300px;
  height: auto;
}
.viewmore {
  display: inline-block;
  padding: 1rem;
  border-bottom: 1px solid #333;
}
.viewmore:hover {
  animation: zoom .5s;
  cursor: pointer;
}



/* -------------------------
SERVICE
------------------------- */
#service {
  padding-bottom: 5rem;
}

.service-items img {
  width: 100px;
  height: 100px;
}

.s-item {
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-between;
}
.item-img {
  width: 15%;
  background-color: #eee;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-text {
  margin-left: 5rem;
  width: 75%;
}
.item-text h3 {
  padding-bottom: 1rem;
  border-bottom: #999 solid 1px;
  margin-bottom: 2rem;
}


/* -------------------------
ABOUT
------------------------- */
.about-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem; 
}
.about-item1, .about-item2 {
  background: #fff;
  padding: 2rem;
  width: 45%;
  font-size: 1.4rem;
  transition: .5s ease-in-out ;
}
.item-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #999;
}
.profile-contents {
  display: flex;
}
.profile-title {
  font-size: 2rem;
  font-weight: bold;
}
.profile-img {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-img img {
  width: 200px;
  border-radius: 50%;
}
.profile-text {
  width: 45%;
  margin-left: 3rem;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.skill-list li {
  width: 30%;
  height: auto;
  margin: 1.5rem 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-list img{
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
.about-item2 p {
  text-align: justify;
  padding: 1rem 1rem;
}

/* -------------------------
CONTACT
------------------------- */


/* -------------------------
フッター
------------------------- */
footer p {
  font-size: 1rem;
  color: #999;
  text-align: center;
}


/* -------------------------
work-items
------------------------- */
.work-img {
  padding-top: 10rem;
}
.work-disc {
  padding: 5rem;
  width: 100%;
  font-size: 1.4rem;
  background-color: #ededed;
  text-align: center;
}
.work-disc a:hover {
  color: #999;
  transition: 0.5s;
}




@media screen and (max-width:600px) { 
  .nav-bar {
    display: none;
  }
  .burger-btn{
    display: block;
  }

  #top h1 {
    font-size: 7rem;
    letter-spacing: 5px;
    padding-left: 1rem;
  }
  
  #top p {
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding-left: 1rem;
  }

  .section-title {
    font-size: 3rem;
    font-weight: bolder;
    padding: 3rem 0 ;
    text-align: center;
  }
  .works-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  .works-items div {
    width: 45%;
    margin: 2rem 0;
  }
  .s-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    justify-content: space-between;
  }
  .item-img {
    margin-left: 5rem;
    margin-bottom: 2rem;
    width: 15rem;
    background-color: #fff;
  }
  .about-items {
    display: flex;
    flex-direction: column;
     
  }
  
  .about-items div {
    width: auto;
    margin: 1rem 2rem ;
  }
  .profile-contents {
    display: flex;
    flex-direction: column;
  }

}

